.wrapper {
}
.outerSlider {
  width: 100%;
  padding: 1rem;
  background-color: #07bfa5;
  border-radius: var(--border-radius);
}
.innerSlider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.innerSlider .positionedImage {
  position: absolute;
  top: 0;
  z-index: 1;
}
.innerSlider .staticImage {
  position: relative;
  z-index: 2;
}
.innerSlider .positionedImage:nth-of-type(2) {
  left: 15%;
  top: 5%;
  width: 250px;
  height: 250px;
}
.innerSlider .positionedImage:nth-of-type(3) {
  right: 10%;
  top: 20%;
  width: 250px;
  height: 250px;
}
.innerSlider .positionedImage:nth-of-type(4) {
  top: -5%;
  left: 35%;
}
.innerSlider .positionedImage:nth-of-type(5) {
  right: 25%;
  top: 25%;
}
.innerSlider .positionedImage:nth-of-type(6) {
  right: 35%;
  top: -5%;
}
